__pycache__/
*.pyc
*.ckpt
*.log

train/results/
test/results/
envs/tb_logs/

dataset_carla/
dataset_carla_100000/
Town03_CARLA/

envs/carla_route_env_old.py
collect_carla_steering_dataset.py
train_image_model.py
train/train_iterations.py
envs/carla_route_env_old.py
